<%- include admin_header.ejs %>
<form id="property_form" method="post">
    <br>
    <a class="a_style" href="/admin">商品信息管理</a>>><a id="middle_path" class="a_style" href=""><%= middle_path%></a>>>添加属性
    <br>
    <br>
    <br>
    属性名：<input id="attr_name" type="text" name="property_name" placeholder="请输入属性名">
    <br>
    属性值：<input id="attr_value" type="text" name="property_value" placeholder="请输入该属性的属性值">
    <br>
    <br>
    <br>
    <br>
    <br>
    <button id="save_btn" class="btn">保存</button>&nbsp&nbsp&nbsp
    <a id="cancel" class="btn" href="">取消</a>
</form>
<script src="/my_js/ad_add_property.js"></script>
<%- include admin_footer.ejs %>