<%- include admin_header.ejs %>
<form method="post">
<br>
<br>
<button class="btn" type="submit">保存商品</button>
<a class="btn" href="/ad_add_property">添加属性</a>
<a class="btn" href="/ad_delete_property">删除属性</a>
<a class="btn">取消</a>
<br>
<br>
<br>
    商品类型：<input type="text" name="type" placeholder="请输入商品类型"/>
    商品名称：<input type="text" name="name" placeholder="请输入商品名称">
    <br><br>
    商品数量：<button type="button" class="btn btn-default minus_product">-</button>
    <input name="total_number" type="text" >
    <button type="button" class="btn btn-default add_product">+</button>

    单价(元)：<input type="text" name="price" placeholder="请输入单价">
    <br><br>
    单位：<input type="text" name="unit" placeholder="请输入单位">
</form>
<%- include admin_footer.ejs %>