<%- include admin_header.ejs %>
<form action="post">
<br>
<br>
<a class="btn">保存属性</a>
<a class="btn" href="/ad_add_property">添加属性</a>
<a class="btn" href="/ad_delete_property">删除属性</a>
<a class="btn">取消</a>
<br>
<br>
<br>
    商品名称：<input type="text" placeholder="请输入商品名称">
    商品数量：<input type="button" value="-"><input type="text"><input type="button" value="+">
    <br><br>
    单价：<input type="text" placeholder="请输入单价">
    单位：<input type="text" placeholder="请输入单位">
</form>
<%- include admin_footer.ejs %>