<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pos 后台</title>
    <link rel="stylesheet" href="stylesheets/admin_pages.css">

</head>
<body>
<header><img src="images/title.jpg" alt=""><div class="page_title">pos机后台管理系统</div></header>
<div>
    <div class="left_body">
        <ul>
            <li><a  href="/admin">商品管理</a></li>
            <li><a href="#">促销管理</a></li>
        </ul>
    </div>
    <div class="right_body">
        <div class="content">