<%- include header.ejs %>

<div id="main_cart_panel" class="panel panel-default">
    <div class="panel-heading my_panel_head_left">
        <h3 class="panel-title">购物清单</h3>
    </div>
    <div id="cart_panel" class="panel-body">
        <table class="table table-bordered">
            <thead>
            <td>分类</td>
            <td>名称</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td>数量</td>
            <td>小计</td>
            </thead>
            <tbody id="cart_item_body">

            </tbody>
        </table>
    </div>

</div>

<%- include footer.ejs%>