<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>web_pos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/my_css.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/page_functions.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <!-- endbuild -->
</head>
<body>

<nav class="navbar navbar-inverse my_nav" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Let's Go</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="home_page"><a href="/">主页</a></li>
                <li id="list_page"><a href="/product_list">商品列表</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="cart"><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<span id="cart_count"><%= count_of_cart%></span>)</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">