img{
	float: left;
}

body{
	padding: 2px;
}

header{
	
	padding : 20px ;
	height: 3em;
	border: 1px solid;
	background-color: rgb(228,228,228);
}

ul{
	margin-top: 0;
	padding-left: 0;
}
li{
	padding: 10px 70px;
	border-bottom: 1px solid;
	list-style: none;
	text-align: center;
	background-color: rgb(204,204,204);
}

a{
	text-decoration: none;
	color: rgb(0,0,0);
}

.a_style{
	color: blue;
}

a:hover{
	color: rgb(218,15,218);
}

button{
	padding: 5px 10px;
	border-radius: 2px;
}

.page_title{
	padding:  5px 50px;
	font-size: 22px;
}

.left_body{
	float: left;
	border: 1px solid;
	border-top: none;
	height: 550px;
	width: 20%
}

.right_body{
	float: right;
	border: 1px solid;
	border-left: none;
	border-top: none;
	width: 79.69%;
	height: 550px;
}

.content{
	padding-left: 2em;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	text-align: center;
	 padding: 8px;
	 line-height: 1.42857143;
	 vertical-align: top;
	 border-top: 1px solid #ddd;
}