img{
	float: left;
}

body{
	padding: 2px;
}

header{
	
	padding : 20px ;
	height: 3em;
	border: 1px solid;
	background-color: rgb(228,228,228);
}

ul{
	margin-top: 0;
	padding-left: 0;
}
li{
	padding: 10px 70px;
	border-bottom: 1px solid;
	list-style: none;
	text-align: center;
	background-color: rgb(204,204,204);
}

a{
	text-decoration: none;
	color: rgb(0,0,0);
}

.a_style{
    padding: 3px 10px;
	color: blue;
    background-color: lightgray;
    border: 1px solid gray;
}

a:hover{
	color: rgb(218,15,218);
}

.btn{
    background-color: #dcdcdc;
	padding: 5px 10px;
	border-radius: 2px;
}

.btn:disabled{
    background-color: #f5f5f5;
}

.number_input{
    width: 40px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.add_minus_btn{
    padding-top: 0;
    padding-bottom: 0;
    height: 24px;
}

.page_title{
	padding:  5px 50px;
	font-size: 22px;
}

.left_body{
	float: left;
	border: 1px solid;
	border-top: none;
	height: 576px;
	width: 20%
}

.right_body{
	float: right;
	border: 1px solid;
	border-left: none;
	border-top: none;
	width: 79.69%;
	height: 576px;
}

.content{
	padding-left: 2em;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	text-align: center;
	 padding: 8px;
	 line-height: 1.42857143;
	 vertical-align: top;
	 border-top: 1px solid #ddd;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}